@import 'vars'

*
    margin: 0
    padding: 0
    box-sizing: border-box
    font-family: 'Lato', sans-serif

%flex-alingItems-center
    display: flex
    align-items: center

a
    text-decoration: none

img
    max-width: 100%

.center
    padding-left: calc( 50% - $widthSite / 2)
    padding-right: calc( 50% - $widthSite / 2)

.top-header
    padding-top: 6px
    padding-bottom: 6px
    @extend %flex-alingItems-center
    justify-content: space-between
    &__left
        @extend %flex-alingItems-center
        gap: 37px
    &__right
        @extend %flex-alingItems-center

.logo-box
    @extend %flex-alingItems-center
    gap: 13px

.text__logo
    font-size: 27px
    line-height: 32px
    font-weight: 300
    text-transform: uppercase
    letter-spacing: 0.025em
    color: $colorText
    @extend %flex-alingItems-center
    &_span
        font-weight: 900
        color: $secondColorSite

.header-search
    @extend %flex-alingItems-center
    &__details
        background-color: #cdcdcc
        background-image: linear-gradient(180.0deg, #f9f9f9 0%, #f5f5f5 100%)
        border: 1px solid $borderColor
        border-radius: 3px 0px 0px 3px
        padding: 14px
        position: relative
        &:hover
            cursor: pointer
    &__summary
        @extend %flex-alingItems-center
        gap: 8px
        font-size: 14px
        font-weight: 300
        letter-spacing: 0.025em
        color: $colorText
    &__summary .search-sort-down
        align-self: flex-start
        color: #838383
    &__input
        font-size: 14px
        font-weight: 300
        letter-spacing: 0.025em
        color: #a4a4a4
        padding: 14px 16px
        outline: none
        border: 1px solid $borderColor
        margin-left: -1px
        width: 280px
    &__button
        padding: 14px
        margin-left: -1px
        border: 1px solid $borderColor
        border-radius: 0px 3px 3px 0px

.links-box
    padding: 10px 12px
    display: flex
    flex-direction: column
    width: 260px
    background-color: #ffffff
    border-radius: 5px
    box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21)
    position: absolute
    z-index: 10
    top: 46px
    left: 0px

.link
    font-size: 14px
    font-weight: 400
    letter-spacing: 0.025em
    color: $colorLink
    padding: 6px 8px
    &__nav
        padding: 20px
        font-weight: 700
        text-transform: uppercase
        color: $colorText
    &__footer-nav
        font-size: 16px
        color: #898989
        padding: 10px 0px
    &__breadcrumb
        font-weight: 300
        text-transform: uppercase
        color: $colorLink
        padding: 8px 4px
        &_active
            font-weight: 700
            color: $secondColorSite

.link:hover
    color: $secondColorSite

.heading
    font-size: 13px
    font-weight: 400
    text-transform: uppercase
    letter-spacing: 0.025em
    color: $colorText
    &__header-cart
        font-size: 12px
        font-weight: 700
    &__nav
        font-size: 14px
        border-bottom: 1px solid $borderColor
        padding-top: 10px
        padding-bottom: 10px
        margin-bottom: 10px
        width: 230px
    &__footer-form
        font-size: 24px
        text-transform: uppercase
        color: $colorText
        display: flex
        flex-direction: column
        align-items: center
        &_span
            font-size: 14px
            line-height: 24px
    &__footer-nav
        font-size: 18px
        font-weight: 700
        color: $secondColorSite
        margin-bottom: 34px

.button
    font-size: 15px
    font-weight: 400
    letter-spacing: 0.025em
    color: $buttonTextColor
    background-color: $secondColorSite
    border: 1px solid $secondColorSite
    padding: 12px 20px
    display: flex
    gap: 8px
    transition: all 0.3s
    &:hover
        color: $secondColorSite
        background-color: $buttonTextColor
    &__card
        position: absolute
        top: 30%
        left: 20%
        display: none
        background-color: transparent
        border-color: $buttonTextColor
        &:hover
            background-color: transparent
            color: $buttonTextColor
            cursor: pointer
            box-shadow: 6px 4px 35px #fff
    &__subscribe
        font-size: 14px
        padding: 17px 18px 17px 17px
        border-top-right-radius: 23px
        border-bottom-right-radius: 23px
        &:hover
            background-color: transparent
    &__product-desc
        width: 100%
        justify-content: center
        align-items: center
        gap: 15px
        font-weight: 700
        color: $secondColorSite
        background-color: transparent
        border: 1px solid $secondColorSite
        &:hover
            color: $buttonTextColor
            background-color: $secondColorSite

.cart-block
    position: relative
    padding: 26px

.cart-box
    position: absolute
    top: 72px
    left: -20px
    z-index: 10
    background-color: #fff
    display: none
    flex-direction: column
    box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21)

.cart-block:hover .cart-box
    display: flex

.cart-box-info
    margin: 20px 18px

.cart-total
    display: flex
    justify-content: space-between

.cart-text
    font-size: 16px
    font-weight: 700
    text-transform: uppercase
    color: $colorText

.cart-links
    display: flex
    flex-direction: column
    gap: 12px
    margin-top: 32px

.cart-link-item
    padding-top: 20px
    padding-bottom: 20px
    border: 1px solid $secondColorSite
    text-align: center
    font-size: 14px
    font-weight: 700
    text-transform: uppercase
    color: $secondColorSite
    background-color: #fff
    transition: all 0.3s
    &:hover
        background-color: $secondColorSite
        color: #fff
    &:last-child
        border-color: $borderColor
        color: #4a4a4a
    &:last-child:hover
        border-color: $secondColorSite
        color: #fff

.btn-delete
    border: none
    outline: none
    background-color: transparent
    font-size: 16px
    color: #c0c0c0

.btn-delete:hover
    color: $secondColorSite
    cursor: pointer

.horizontal-line
    height: 1px
    background-color: $borderColor

.nav
    padding-top: 20px
    padding-bottom: 20px

.nav-list
    list-style-type: none
    @extend %flex-alingItems-center
    justify-content: center

.nav-list-item
    position: relative

.nav-box
    background-color: #ffffff
    border-radius: 5px
    box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21)
    position: absolute
    left: -230px
    top: 30px
    display: none
    gap: 46px
    padding: 20px 24px
    transition: left 0.3s
    z-index: 9999

.nav-box-last
    left: auto
    right: -230px

.nav-list-item:hover .nav-box
    display: flex

.nav-box-section
    display: flex
    flex-direction: column

.link-promo-nav
    position: relative
    margin-top: 22px

.text-promo-nav
    position: absolute
    font-size: 22px
    line-height: 28px
    font-weight: 900
    text-transform: uppercase
    letter-spacing: 0.025em
    color: $buttonTextColor
    position: absolute
    right: 12px
    bottom: 12px

.sites-face
    background-color: $bgColor
    background-image: url("../img/faces-img.jpg")
    background-position: center
    background-repeat: no-repeat
    background-size: cover
    height: 665px
    @extend %flex-alingItems-center

.vertical-line
    height: 99px
    width: 12px
    margin-top: 8px
    background-color: $secondColorSite
    &__footer
        width: 1px
        height: 100%
        background-color: #fff

.title
    font-size: 60px
    font-weight: 900
    letter-spacing: 0.025em
    color: $colorText
    display: flex
    flex-direction: column
    padding-left: 12px
    &__under
        font-size: 40px
        &_span
            color: $secondColorSite

.offers
    display: grid
    grid-template-columns: repeat(2, 1fr)
    grid-template-rows: repeat(3, 260px)
    gap: 20px
    padding-top: 98px

.offer
    background-position: center
    background-repeat: no-repeat
    background-size: cover
    &__men
        grid-row: 1/3
        background-image: url("../img/offer-men.jpg")
    &__women
        background-image: url("../img/offer-women.jpg")
    &__accesories
        background-image: url("../img/offer-accesories.jpg")
    &__kids
        grid-row: 2/4
        background-image: url("../img/offer-kids.jpg")

.offer
    display: flex
    align-items: flex-start

.text__offer
    margin-top: 26px
    padding: 16px 20px
    background-color: #fff
    font-size: 18px
    font-weight: 900
    text-transform: uppercase
    letter-spacing: 0.025em
    color: $colorText
    display: flex
    flex-direction: column
    &_span
        font-size: 30px
        color: #f16d7f

.catalog
    padding-top: 100px
    @extend %flex-alingItems-center
    flex-direction: column
    gap: 16px

.subtitle
    font-size: 30px
    font-weight: 700
    letter-spacing: 0.025em
    color: $colorText
    &__breadcrumb
        font-size: 24px
        font-weight: 900
        text-transform: uppercase
        color: $secondColorSite
    &__like-also
        font-size: 24px
        font-weight: 900
        text-transform: uppercase
        margin-bottom: 72px

.text
    font-size: 14px
    font-weight: 400
    letter-spacing: 0.025em
    color: #9f9f9f
    &__feature
        font-weight: 300
        color: #fbfbfb
    &__footer-figure
        font-size: 16px
        font-weight: 400
        font-style: italic
        color: $colorText
    &__footer-info
        line-height: 24px
        font-weight: 300
        color: #898989
    &__footer-bottom
        font-size: 16px
        color: #7a7a7a
    &__product-info
        font-weight: 300
        color: #5e5e5e
        text-align: center
        margin-top: 24px
        margin-bottom: 28px

.cards-box
    display: grid
    grid-template-columns: repeat(4, 260px)
    gap: 32px 40px
    margin-top: 60px
    margin-bottom: 60px

.card
    position: relative
    transition: all 0.3s
    display: flex
    flex-direction: column
    &__header-cart
        flex-direction: row
        align-items: center
        padding: 18px 20px
        border-bottom: 1px solid $borderColor
        width: 260px
        justify-content: space-between
        &_link-box
            @extend %flex-alingItems-center
    &:hover
        box-shadow: 0px 5px 8px 0px rgba(0,0,0,0.15)

.card-img
    transition: all 0.3s

.card:hover .card-img
    filter: brightness(50%)

.card__header-cart:hover .card-img
    filter: none

.card:hover .button__card
    display: flex

.card-info
    display: flex
    flex-direction: column
    gap: 16px
    padding: 20px 16px
    &__header-cart
        gap: 10px
        padding: 10px 14px

.card-info-box
    display: flex
    justify-content: space-between
    align-items: center
    &__header-cart
        flex-direction: column-reverse
        gap: 12px
        align-items: flex-start

.card-price
    font-size: 16px
    font-weight: 700
    text-transform: uppercase
    color: $secondColorSite
    &__header-cart
        font-size: 12px
        font-weight: 400

.button-long-arrow-alt-right
    align-self: flex-end

.big-offer
    margin-top: 112px
    display: grid
    grid-template-columns: 768px 1fr
    grid-template-rows: 529px

.big-offer-box
    display: block
    position: relative

.big-offer-text
    position: absolute
    top: 146px
    left: 40px
    display: flex
    flex-wrap: wrap
    width: 300px
    font-size: 54px
    font-weight: 700
    letter-spacing: 0.025em
    color: $buttonTextColor
    &__span
        color: #f16d7f
        margin-left: 10px
    &__span-under
        font-size: 32.2px

.big-offer-feature
    background-color: $colorText
    padding: 48px 36px
    display: flex
    flex-direction: column
    gap: 54px

.feature-item
    display: flex
    gap: 34px
    align-items: flex-start

.feature-item-info
    display: flex
    flex-direction: column
    gap: 18px

.headline
    font-family: Lato
    font-size: 20px
    font-weight: 700
    letter-spacing: 0.025em
    color: #fbfbfb

.footer
    margin-top: 98px

.footer-top
    background-image: url("../img/footer-top-bg.jpg")
    background-position: bottom
    background-size: cover
    background-repeat: no-repeat
    height: 438px
    display: flex
    align-items: center
    justify-content: space-between

.footer-top-left
    display: flex
    flex-direction: column
    gap: 40px

.footer-figure
    display: grid
    grid-template-columns: 84px 386px
    align-items: center
    column-gap: 28px

.footer-figcaption
    grid-column: 2
    font-size: 16px
    font-weight: 700
    letter-spacing: 0.025em
    color: $secondColorSite
    display: flex
    flex-direction: column
    &__span
        font-size: 12px
        font-weight: 300
        color: $colorText

.button-slider-box
    display: flex
    gap: 14px
    margin-left: 112px

.button-footer-slider
    width: 38px
    height: 4px
    background-color: #d6d6d6
    border: none
    outline: none
    transition: all 0.3s
    &:hover
        background-color: $secondColorSite
        cursor: pointer

.subscribe-form
    display: flex
    margin-top: 34px

.input-mail
    background-color: #E1E1E1
    color: $colorText
    font-size: 14px
    font-weight: 400
    opacity: 0.7
    padding: 17px 22px 17px 22px
    outline: none
    border: transparent
    border-top-left-radius: 23px
    border-bottom-left-radius: 23px
    width: 282px

.button-subscribe
    color: #fff
    background-color: $secondColorSite
    text-align: center
    font-size: 14px
    font-weight: 400
    border: transparent
    padding: 17px 18px 17px 17px
    border-top-right-radius: 23px
    border-bottom-right-radius: 23px

.footer-info
    padding-top: 122px
    padding-bottom: 90px
    display: grid
    grid-template-columns: 426px 1fr
    align-items: center
    gap: 64px

.footer-info-left
    display: flex
    flex-direction: column
    gap: 30px

.footer-nav-box
    display: grid
    grid-template-columns: repeat(3, 1fr)

.footer-bottom
    background-color: $bgColor
    padding-top: 24px
    padding-bottom: 24px
    display: flex
    justify-content: space-between
    align-items: center

.footer-list-links
    display: flex
    gap: 8px
    list-style-type: none

.footer-list-link
    height: 32px
    width: 32px
    display: flex
    align-items: center
    justify-content: center
    font-size: 16px
    color: #b2b2b2
    background-color: #fff
    transition: all 0.3s
    &:hover
        color: #fff
        background-color: $secondColorSite

.breadcrumb-box
    min-height: 150px
    display: flex
    justify-content: space-between
    align-items: center
    background-color: #f8f3f4

.breadcrumb-list
    list-style-type: none
    display: flex

.breadcrumb-list-item-separator::before
    content: '/'
    font-size: 14px
    font-weight: 300
    color: $colorLink

.slider
    background-color: #f7f7f7
    position: relative

.slider-img-box
    display: flex
    justify-content: center
    align-items: center

.slider-button-box
    display: flex
    justify-content: space-between
    position: absolute
    left: 0
    top: 45%
    width: 100%

.slider-button
    font-size: 24px
    color: $buttonTextColor
    width: 47px
    height: 47px
    display: flex
    align-items: center
    justify-content: center
    background-color: rgba(42,42,42,0.14)
    border: none
    outline: none
    cursor: pointer

.product-description-container
    background-color: #ffffff
    border: 1px solid #eaeaea
    display: flex
    flex-direction: column
    align-items: center
    padding-top: 74px
    padding-bottom: 122px
    transform: translateY(-56px)

.product-info
    width: 640px
    display: flex
    flex-direction: column
    align-items: center
    border-bottom: 1px solid $borderColor

.product-collection-info
    font-size: 14px
    font-weight: 700
    color: $secondColorSite
    border-bottom: 1px solid $borderColor
    padding-bottom: 14px
    margin-bottom: 18px
    position: relative

.product-collection-info::after
    content: ""
    display: block
    width: 50%
    height: 3px
    background-color: $secondColorSite
    position: absolute
    left: 25%
    top: 98%

.product-name
    font-size: 18px
    line-height: 24px
    font-weight: 900
    text-transform: uppercase
    color: #4d4d4d
    margin-bottom: 24px

.model-description
    display: flex
    gap: 44px
    margin-bottom: 44px

.model-description-text
    font-size: 14px
    font-weight: 700
    color: #b9b9b9
    &__span
        color: #2f2f2f

.product-price
    font-size: 24px
    font-weight: 700
    color: $secondColorSite
    margin-bottom: 44px

.prroduct-form
    padding-top: 64px
    width: 540px

.inputs-box
    display: flex
    gap: 52px
    margin-bottom: 28px

.input-item
    display: flex
    flex-direction: column
    gap: 14px
    font-size: 14px
    font-weight: 700
    color: $colorText

.input-enter
    background-color: #ffffff
    border: 1px solid #eaeaea
    outline: none
    font-size: 13px
    font-weight: 400
    color: #bcbcbc
    padding: 12px 16px
    width: 144px

.like-also
    margin-top: 64px
    text-align: center
